name: Merge PR with template release changes

on:
  workflow_dispatch:

jobs:
  disable_protections:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - name: Enable merge
        shell: bash
        run: |
          gh repo edit --enable-merge-commit=true
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - name: Allow bypass protection by admings
        uses: octokit/request-action@v2.1.7
        with:
          route: DELETE /repos/${{ github.repository }}/branches/main/protection/enforce_admins
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
  merge_pr_with_template_release_changes:
    runs-on: ubuntu-latest
    needs: disable_protections
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}        
      - name: Search Pull Request
        id: search_pr
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          RESULT=$(gh api -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" /search/issues?q=merge+${{ vars.TEMPLATE_REPO }}+${{ vars.TEMPLATE_LATEST_RELEASE }}+changes+is:pull-request+state:open)
          echo "value=$RESULT" >> $GITHUB_OUTPUT
      - name: Cancel Workflow if more than one PR found
        uses: potiuk/cancel-workflow-runs@v4_7
        if: ${{ fromJSON(steps.search_pr.outputs.value).total_count != 1 }}
        with:
          cancelMode: self
          selfPreservation: false
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Merge the PR
        shell: bash
        run: |
          gh pr merge ${{ fromJSON(steps.search_pr.outputs.value).items[0].number }} -d -m -t "chore: merge ${{ vars.TEMPLATE_REPO }} ${{ vars.TEMPLATE_LATEST_RELEASE }} changes"
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
  update_variables:
    runs-on: ubuntu-latest
    needs: merge_pr_with_template_release_changes
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh api --method PATCH -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" /repos/${{ github.repository }}/actions/variables/UPDATED_TO_TEMPLATE_RELEASE -f name='UPDATED_TO_TEMPLATE_RELEASE' -f value='${{ vars.TEMPLATE_LATEST_RELEASE }}'
          gh api --method DELETE -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" /repos/${{ github.repository }}/actions/variables/TEMPLATE_LATEST_RELEASE 
  restore_protections:
    runs-on: ubuntu-latest
    needs: [disable_protections, merge_pr_with_template_release_changes]
    if: ${{ always() }}
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          # Disable merge 
          gh repo edit --enable-merge-commit=false
          # Disable allow bypass protection rules by admins
          gh api --method POST -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" /repos/${{ github.repository }}/branches/main/protection/enforce_admins
        